:root {
  font-family: "Segoe UI", Arial, Roboto, sans-serif;
}

*,
:after,
:before {
  box-sizing: border-box;
  position: relative;
}

body {
  font-size: 16px;
  line-height: 1.15;
}

button {
  cursor: pointer;
  border: none;
  font-size: 0.875rem;
}
